.gallery {
  display: flex;
  flex-direction: column;
  flex: 0 1 44.4rem;
  width: 44.5rem;
  gap: 2.9rem;
  position: relative;

  &--modal {
    // width: 56rem;
    padding-right: 1rem;
    padding-top: 2rem;
    gap: 3.5rem;
    flex: 0 1 auto;
    width: 35vw;
    align-items: center;
  }

  img {
    border-radius: 1.2rem;
    width: 100%;
    height: 100%;
    user-select: none;
  }

  &__selected {
    transition: all 0.3s;
    border-radius: 1.2rem;
    position: relative;
  }

  &__selected-img {
    transition: all 0.3s;
  }

  &__select-list {
    display: flex;
    width: 100%;
    gap: 3.1rem;

    &--modal {
      justify-content: center;
      width: 90%;
    }
  }

  &__select {
    position: relative;
    cursor: pointer;

    &-img {
      outline: 3px solid transparent;
      transition: all 0.3s ease-in;
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 1.2rem;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s;
    }

    &--modal {
      width: 21%;
    }

    &--active {
      img {
        outline: 3px solid $primary-color;
      }
    }

    &:hover,
    &--active {
      &::before {
        background-color: rgba(#fff, 0.7);
      }
    }
  }
}
